* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

#scores {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#board {
  height: 90%;
  min-height: 80vh;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.cell {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 80%;
  height: 80%;
  cursor: default;
}

.piece.circle {
  border-radius: 50%;
  border: #f00 10px solid;
  position: relative;
}

.piece.circle::before {
  content: "";
  width: 101%;
  height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f00;
  border-radius: 50%;
  animation: fill 1s ease-in-out;
}

@keyframes fill {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.piece.cross {
  position: relative;
}

.piece.cross::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -10%;
  width: 125%;
  height: 10%;
  background-color: #00f;
  transform: rotate(45deg);
  animation: rotate-right 1s ease-in-out;
}

.piece.cross::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -10%;
  width: 125%;
  height: 10%;
  background-color: #00f;
  transform: rotate(-45deg);
  animation: rotate-left 1s ease-in-out;
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.piece.winner,
.piece.winner::after,
.piece.winner::before {
  animation: win 1s infinite ease-in-out;
}

.partial,
.partial::after,
.partial::before {
  opacity: 0.5;
  cursor: pointer;
  animation: none !important;
}

@keyframes win {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#popup {
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#popup-container.visible {
  display: flex;
}

#popup-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#popup-content {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

#popup-button {
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
